@import './partials/header.scss';
@import './partials/footer.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
